
* {
    font-family: 'Source Sans Pro',Tahoma,Verdana,Geneva,Helvetica,Arial,sans-serif;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
}

body, html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.loadgif {
	display: block;
	position:absolute;
	top:40%;
	left:45%;
	z-index:1;
}

#screenBorder {
	width:10px;
	height:100%;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

#entete {
	width:100%;
	position:relative;
	top:0;
	left:0;
	background-color:#2f464c;
	color:white;
	padding:0.3em 0 0.3em 0;
}

#table-entete {
	width:100%;
}

#entete-heure {
	width:25%;
}

#info-salle {
	display:block;
	position:relative;
}
#pied
{
	width:100%;
	position:absolute;
	bottom:0;
	background-color:#2f464c;
}
#nom-salle {
	width:auto;
	height:100%;
	display:inline-block;
	position:relative;
}
#table-frise
{
	border:0px #2f464c;
	width:100%;
}
#hourPanel {
	color:white;
	margin-right:0.8em;
}

#etat-libre{
	display:inline-block;
	float:left;
	font-weight:600;
}

#etat-libre #etat{
	padding-left:0.8em;
	font-size:320%;
	width:100%;
	display:inline-block;
	position:relative;
	top:0;
	left:0;
	font-weight:bold;
}

#temps {
	padding-left:2.4em;
	width:100%;
	display:inline-block;
	position:relative;
	left:0;
	font-size:115%;
	line-height:0.4;
	color:#2f464c
}

#bouton {
	margin-top:0.5em;
	display:inline-block;
	position:relative;
	height:38%;
	display:none;
}

#b_res {
	display:none;
	color:white;
	display:block;
	height:2em;
	width:100%;
	font-size:180%;
	background-color:#38b54d;
	font-weight:bold;
	text-align:center;
	padding-bottom:8px;
	border-radius: 0.2em;
	border:0.05em solid #2a893a;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}

#b_conf {
	display:none;
	color:white;
	padding-right:0;
	padding-left:0;
	width:8em;
	height:3.2em;
	font-size:100%;
	background-color:#5e8894;
	font-weight:bold;
	text-align:center;
	border:0.1em solid #2f464c;
	border-radius: 0.2em;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}

.b_res_h {
	width:80%;
	float:left;
	top:1em;
	left:2em;
}
.b_res_w {
	width:40%;
	float:right;
	top:0em;
	right:2em;
}

.b_conf_h {
	position:absolute;
	top:35%;
	left:5%;
}
.b_conf_w {
	position:absolute;
	top:6em;
	right:5%;
}

.b_vide_h {
	position:absolute;
	top:35%;
	right:5%;
}
.b_vide_w {
	position:absolute;
	bottom:25%;
	right:5%;
}

#b_vide {
	display:none;
	color:white;
	background-color:#5e8894;
	font-weight:bold;
	font-size:100%;
	width:8em;
	height:3.2em;
	border:0.1em solid #2f464c;
	border-radius: 0.2em;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}


#info-res {
	height:auto;
	position:absolute;
	font-size:115%;
	font-weight:600;
	color:#2f464c;
	z-index:-1;
}

#info-res-presta{
	padding-left:0.3em;
}

#b_res_arrow {
	margin-left:0.5em;
	width:0.7em;
}

#info-res-title {
	padding-left:2.3em;
	font-weight:700;
	display:inline-block;
	bottom: 50px;
}

#info-res-horaires {
	padding-left:2.27em;
}

#info-res-owner {
	padding-left:2.27em;
}

#link_img {
	width:auto;
	height:100%;
	position:relative;
	vertical-align:-0.6em;
	margin-right:0.5em;
	margin-left:0.7em;
}

#link_back {
	display:inline-block;
	height:1em;
	vertical-align:36%;
}

.btn_res {
	display:none;
}

ul {
	padding:0;
	margin:0;
}

li {
	list-style-type: none;
	text-align:left;
}

#sub {
	margin:0 1% 0 1%;
	width:98%;
	position:relative;
	z-index:1;
	display:none;
}

#sub li {
	display:none;
	background-color:white;
	border: 1px solid #38b54d;
}

.menu_hour {
	height:100%;
	padding-left:16%;
	font-size:200%;
	display:none;
}

#frise {
	display:inline-block;
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	min-height:40px;
	position: center;
	border-top: 0.2em solid #2f464c;
	background-color:#5e8894;
	/*background-image:url(barre.png);*/
	background-repeat:no-repeat;
	z-index:0;
}
.ligne
{
	width:100%;
	font-size:70%;
	color:white;
}
#ligne3
{
	/*background:#ffffff;
	background:url(trait_blanc.png);
	background-repeat:repeat-x;*/
}
.creneauHoraire
{
	
	background: #ffffff;
	
}
.caseFrise.traitSeparation
{
	border-left: 1px solid white;
	background-repeat:no-repeat;
	background-position: left bottom;
}
table{
	table-layout: fixed;
	border-spacing: 0;
}
#table-frise {
	width:100%;
	padding-top:0.5em;
}

a img
{
border: none;
} 