
* {
    font-family: 'Source Sans Pro',Tahoma,Verdana,Geneva,Helvetica,Arial,sans-serif;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
}

body, html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.loadgif {
	display: block;
	position:absolute;
	top:40%;
	left:45%;
	z-index:1;
}

#screenBorder {
	width:10px;
	height:100%;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

#entete {
	width:100%;
	position:relative;
	top:0;
	left:0;
	background-color:#2f464c;
	color:white;
	font-weight:600;
	padding-top:2px;
	padding-bottom:2px;
}

#info-salle {
	display:block;
	position:relative;
}
#pied
{
	width:100%;
	position:absolute;
	bottom:0;
	background-color:#2f464c;
}
#nom-salle {
	width:auto;
	height:100%;
	display:inline-block;
	position:relative;
	font-weight:600;
}

#hourPanel {
	color:white;
	font-weight:600;
	margin-right:2%;
}

#etat-libre{
	display:inline-block;
	width:40%;
	float:left;
	font-weight:600;
}

#etat-libre #etat{
	padding-left:12%;
	font-size:450%;
	width:100%;
	display:inline-block;
	position:relative;
	top:0;
	left:0;
	font-weight:bold;
}

#temps {
	padding-left:13%;
	width:100%;
	display:inline-block;
	position:relative;
	left:0;
	font-size:180%;
	color:#2f464c
}

#bouton {
	margin-top:3%;
	display:inline-block;
	position:relative;
	height:40%;
	width:50%;
	float:right;
	right:5%;
}

#b_res {
	display:none;
	color:white;
	display:block;
	padding-right:0;
	padding-left:0;
	height:50%;
	width:100%;
	font-size:250%;
	background-color:#38b54d;
	font-weight:bold;
	text-align:center;
	padding-bottom:8px;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}

#b_vide {
	display:none;
	color:white;
	display:block;
	padding-right:0;
	padding-left:0;
	height:50%;
	width:100%;
	font-size:250%;
	background-color:#38b54d;
	font-weight:bold;
	text-align:center;
	padding-bottom:8px;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}

#b_conf {
	display:none;
	color:white;
	background-color:darkred;
	font-weight:bold;
	font-size:200%;
	width:40%;
	height:20%;
	position:absolute;
	right:5%;
	bottom:25%;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}


#info-res {
	padding-left:5%;
	height:auto;
	position:absolute;
	top:55%;
	font-size:170%;
	font-weight:600;
	color:#2f464c;
	z-index:-1;
}

#b_res_arrow {
	margin-left:30px;
}

#info-res-title {
	font-weight:800;
	display:inline-block;
	bottom: 50px;
}

#info-res-horaires {
}

#info-res-owner {}

#info-res-presta {}

#link_img {
	width:auto;
	position:relative;
	vertical-align:-25%;
}

#link_back {
	display:inline-block;
	height:100%;
}

ul {
	padding:0;
	margin:0;
}

li {
	list-style-type: none;
	text-align:left;
}

#sub {
	margin:0 1% 0 1%;
	width:98%;
	position:relative;
	z-index:1;
}

#sub li {
	height:30%;
	background-color:white;
	border: 1px solid #38b54d;
}

.menu_hour {
	height:100%;
	padding-left:16%;
	font-size:250%;
}

#frise {
	display:inline-block;
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:12%;
	min-height:40px;
	position: center;
	background-color:#5e8894;
	/*background-image:url(barre.png);*/
	background-repeat:no-repeat;
	z-index:0;
}
.ligne
{
	width:100%;
}
#ligne3
{
	/*background:#ffffff;
	background:url(trait_blanc.png);
	background-repeat:repeat-x;*/
}
.creneauHoraire
{
	
	background: #ffffff;
	
}
.caseFrise
{
	text-align:left;
	color:#fcfbfd;
}
.caseFrise.traitSeparation
{
	border-left: 1px solid white;
	background-repeat:no-repeat;
	background-position: left bottom;
}
table{
	table-layout: fixed;
	border-spacing: 0;
}