* {
    font-family: 'Source Sans Pro',Tahoma,Verdana,Geneva,Helvetica,Arial,sans-serif;
}

body {
    overflow-y:hidden;
}

.contenu {
	 overflow-y: scroll;
}

.loadgif {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:50px;
	margin-bottom:50px;
}

#salles-libres
{
	color:#D7F0DB;
	height: 50px;
	vertical-align: middle;
	font-size: 26px;
	background:#32464d;
	list-style: none;
	padding: 14px 0 1px 20px;
}

#salles-occupees
{
	color: #fad2d3;
	height: 50px;
	font-size: 26px;
	background:#32464d;
	list-style: none;
	margin-top: 50px;
	padding: 14px 0 1px 20px;
}
li:even
{
	color: red;
}
#listes-salles-libres
{
	border-left:  10px solid #3ab54a;
}
#listes-salles-occupees
{
	border-left:  10px solid #ed1b24;
	margin-bottom: 20px;
}
.ui-listview .ui-li-icon {
    left: 0px;
    max-height: 60px; 
    max-width: 60px;
    position: absolute;
    top: 0;
}
.ui-btn-inner {
    font-size: 26px;
    white-space: nowrap;
}
.ui-btn-text
{
	padding': 2px 5px 2px 5px;
	display:inline;
}
.ui-btn-up-c {
	text-shadow: 0 0px 0 #fff;
}

.pour-les-salles
{
	text-shadow: 0px;
	font-size: 26px;
	background:#2f464c;
	border-bottom: 4px solid #2f464c;
	border-right:  4px solid #2f464c;
}

#contenu-details-salle {
    height: 100%;
}

#contenu-details-salle-occupee{
	border-right:  6px solid red;
	border-left:  6px solid red;
}

#titre1
{
color:#31464c;
font-weight: bold;
margin-top: 30px;
margin-left: 70px;
width: 100%;
font-size: 26px;
text-shadow: 0px;
}

.room_name{
	height:50%;
	width:90%;
	position:relative;
	left:0;
	top:0;
	display:inline-block;
}

.room_info {
	width:90%;
	position:relative;
	left:0;
	bottom:0;
}

.duree-icon, .seats-icon {
	vertical-align:-5px;
	margin-right:5px;
	height:20px;
}

.duree {
	height:100%;
	position:relative;
	right:0;
	display:inline-block;
	padding-top:5px;
	padding-left:25px;
	font-size:50%;
}

.seats {
	height:100%;
	width:auto;
	position:relative;
	left:0;
	display:inline-block;
	padding-top:5px;
	font-size:50%;
}

.ui-icon-custom_arrow {
	background: url("fleche.png") no-repeat !important;
	height:50px;
	width:50px;
	margin-top:-15px !important;
}

a {
	padding: 0.6em 10px !important;
}

.une-salle-libre {
	background:none;
	border:none;
	border-bottom:1px solid #d4e3d6;
	background-color:#ecf3ed;
}

.une-salle-occupee {
	background:none;
	border:none;
	border-bottom:1px solid #ffc7b9;
	background-color:#ffe7e1;
}
