
* {
    font-family: 'Source Sans Pro',Tahoma,Verdana,Geneva,Helvetica,Arial,sans-serif;
}

body, html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#screenBorder {
	width:10px;
	height:100%;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

#entete {
	width:100%;
	position:relative;
	top:0;
	left:0;
	background-color:#2f464c;
	color:white;
	font-weight:600;
	font-size:300%;
}

#info-salle {
	display:block;
	position:relative;
	top:1%;
}

#nom-salle {
	width:auto;
	height:18.7%;
	display:inline-block;
	position:relative;
	left:5px;
	font-weight:600;
}

#hourPanel {
	width:auto;
	height:18.7%;
	position:relative;
	display:inline-block;
	color:white;
	font-weight:600;
}

#etat-libre{
	display:inline-block;
	width:40%;
	float:left;
	font-weight:600;
}

#etat-libre #etat{
	padding-left:15%;
	font-size:450%;
	width:100%;
	display:inline-block;
	position:relative;
	top:0;
	left:0;
	font-weight:bold;
}

#temps {
	padding-left:15%;
	width:100%;
	display:inline-block;
	position:relative;
	left:0;
	font-size:180%;
	color:#2f464c
}

#bouton {
	margin-top:3%;
	display:inline-block;
	position:relative;
	height:40%;
	width:50%;
	float:right;
	right:5%;
}

#b_res {
	color:white;
	display:block;
	padding-right:0;
	padding-left:0;
	height:50%;
	width:100%;
	font-size:250%;
	background-color:#38b54d;
	font-weight:bold;
	text-align:center;
	padding-bottom:8px;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}

#b_conf {
	color:white;
	background-color:darkred;
	font-weight:bold;
	font-size:200%;
	width:40%;
	height:20%;
	position:absolute;
	right:5%;
	bottom:25%;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}


#info-res {
	padding-left:5%;
	width:100%;
	height:auto;
	position:absolute;
	top:55%;
	font-size:170%;
	font-weight:600;
	color:#2f464c;
	z-index:-1;
}

#b_res_arrow {
	margin-left:30px;
}

#info-res-title {
	font-weight:800;
	display:inline-block;
}

#info-res-horaires {
}

#info-res-owner {}

#info-res-presta {}

#link_img {
	width:auto;
	position:relative;
	left:2%;
}

#link_back {
	display:inline-block;
}

ul {
	padding:0;
	margin:0;
}

li {
	list-style-type: none;
	text-align:center;
}

#sub {
	margin-left:25%;
	width:75%;
}

#sub li {
	height:30%;
	background-color:white;
	border: 1px solid #38b54d;
	
}

.menu_hour {
	width:100%;
	height:100%;
	font-size:200%;
}

#frise {
	display:inline-block;
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:20%;
	background-color:grey;
	z-index:1;
}