.body
{

}

#salles-libres
{
color: #D1DDFF;
font-size: 26px;
background:#32464d;
border-left:  10px solid green;
list-style: none;
padding: 2px 10px 2px 2px;
}
#salles-occupees
{
color: #FFD1D1;
font-size: 26px;
background:#32464d;
border-left:  10px solid red;
list-style: none;
 padding: 2px 10px 2px 2px;
}
.ui-listview .ui-li-icon {
    left: 0px;
    max-height: 30px; 
    max-width: 60px;
    position: absolute;
    top: 0;
}
.ui-btn-inner {
    font-size: 26px;
    white-space: nowrap;
}
.ui-btn-text
{
	padding': 2px 5px 2px 5px;
	display:inline;
}
.pour-les-salles
{
	border-bottom: 4px solid #32464d;
	border-right:  4px solid #32464d;
}