.body
{
}

#salles-libres
{
color: #ffffff;
text-align: center;
background:#5e8894;
border-left:  9px solid green;
border-right:  9px solid green;
list-style: none;
 padding: 2px 10px 2px 2px;
/*display: inline;*/
}
#salles-occupees
{
color: red;
text-align: center;
background:#5e8894;
border-left:  9px solid red;
list-style: none;
 padding: 2px 10px 2px 2px;
}
.ui-listview .ui-li-icon {
    left: 0px;
    max-height: 30px; 
    max-width: 60px;
    position: absolute;
    top: 0;
}
.ui-btn-inner {
    font-size: 23px;
    white-space: nowrap;
}
.ui-btn-text
{
	border-right:  4px solid #5e8894;
	padding': 2px 5px 2px 5px;
}